@import "./src/variables";

.photos {
    margin-bottom: 32px;

    h2 {
        color: $primary-color;
        font-family: "Krona-One";
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin: 0;
        padding-left: 2px;
    }

    p {
        margin: 0 8px;
    }
}

.blockleft {
    position: absolute; 
    margin-top: -120px;
    margin-left: 120px;
    display: block;
    width: 260px; 
    height: 500px; 
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 50%);
    z-index: 2; 
    transform: rotate(-90deg);
  }

.blockright {
    position: absolute; 
    margin-top: -120px;
    margin-left: 775px;
    display: block;
    width: 260px; 
    height: 500px; 
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 50%);
    z-index: 2; 
    transform: rotate(90deg);
  }


.gallery {
    display: flex;
    overflow-x: scroll;
    gap: 8px;
    scrollbar-width: auto;
    scrollbar-color: $primary-color $background-color;

    &::-webkit-scrollbar {
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: $background-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
    }

    
}

.image {
    cursor: pointer;

    img {
        height: 260px;
        width: 400px;
        object-fit: cover;
    }
}

.fullimage {
    position: fixed;
    display: flex;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;

    background-color: #181226bb;
    backdrop-filter: blur(12px);

    img {
        width: auto;
        height: auto;
        max-height: 90vh;
        max-width: 90vw;
    }
}
