@import "./src/variables";
@import "./src/mixins";

.committee {
    margin-bottom: 100px;

    h2 {
        color: $primary-color;
        margin-bottom: 0;
        font-size: 48px;
        font-family: "Krona-One";
        margin-bottom: 50px;
        width: 100%;
        text-align: center;

    }

    p {
        margin: 0;
        font-family: "Krona-One";
        font-size: 28px;
    }

    .function {
        color: $primary-color;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .left {
        width: 50%;
        gap: 24px;
        display: flex;
        flex-direction: column;
    }

    .right {
        width: 50%;
        text-align: right;
        gap: 24px;
        display: flex;
        flex-direction: column;

        .person {
            justify-content: flex-end;
        }
    }

    .middle {
        width: 100%;
        text-align: center;
        margin-top: 24px;

        .person {
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }

    img {
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        height: 160px;
        width: 150px;
        min-width: 150px;
        object-fit: cover;
        position: relative;
    }

    .polygon {
        height: 170px;
        width: 160px;
        min-width: 160px;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        background-color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .person {
        display: flex;
        align-items: center;
        gap: 40px;
    }
}
