@import "./src/variables";

.footer {
    display: flex;
    justify-content: center;

    p {
        color: $primary-color;
        font-family: "Krona-One";
        font-size: 34px;
        margin: 10px 0;
    }

    a {
        font-family: "Krona-One";
        font-size: 34px;
        text-decoration: none;
        color: #fff;
        margin: 10px 0;
    }

    > div {
        display: flex;
        flex-direction: column;
        width: 30%;
    }
}
