$background-color: #002E78;
$primary-color: #84C1EE;
$primary-color-darker: #389EE9;
$secondary-color: #DB00FF;
$tu-color: #00a6d6;
$discord-color: #7289da;

$primary-text: #fff;
$sponsor-background: #fff;
